
*{
  box-sizing: border-box;
}
body{
  background-image: url(./images/ovni.jpg);
  overflow: hidden;
  overflow-y: scroll;
  width: 100%;
  /*background-color: #e2eeff;*/
}

.App-header {
  background-color: #732c53;
  padding-top: 1%;
  margin-top: -2%;
}
.navRouter{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  font-family: 'Special Elite', cursive;
  font-size: 1.5rem;
}
.navRouter :hover{
  color: #1a0c1b;
}
li a {
  color: #fff;
  text-decoration: none;
}
.content ::after{
  clear: both;
  display: table;
  margin-bottom: 10rem;
  padding: 1rem;
  text-align: left;
  width: 100%;
}
.header{
  padding-left: 2rem;
  padding-bottom: 0;
  text-align: center;
}
.about{
  background-color: black;
  float: right;
  width: 50%;
  padding: 2rem;
  height: 30%;
  margin-top: -4%;
  margin-bottom: 10%;
}
 .description{
  text-align: justify;
}
.title-name{
  font-family: 'Merriweather', serif;
  color: #1a0c1b;
  background-color: #fff;
  font-size: calc(4rem);
  margin-bottom: 1rem;
}
.title-ocupation{
  font-family: 'Merriweather', serif;
  color: #732c53;
  background-color: #fff;
  font-size: 2rem;
  margin-bottom: 1%;
  margin-top: 1%;
}
.meImage{
  display: block;
  height: auto;
  max-width: 70%;
  width: auto;
  margin-top: -6%;
}
.meImage{
  float: left;
  margin-left: 5rem !important;
}
.description{
  color: #fff;
  font-family: 'Special Elite', cursive;
  font-size: 1.2rem;
  font-weight: lighter;
  margin-bottom: 1rem;
  padding: 2%;
  margin-top: 5%;
}
.media{
  display: flex;
  justify-content: space-around;
  font-family: 'Roboto', sans-serif;
}
.media a{
  text-decoration: none;
  color: #1a0c1b;
  font-size: 2rem;
}
.material-icons{
  color: #e2eeff;
  font-size: 2rem;
  text-decoration: none;
}
.title-projects{
  font-family: 'Special Elite', cursive;
  color: #1a0c1b;
  background-color: #fff;
  text-align: center;
  font-size: 2rem;
}
.container {
  max-width: 80rem;
  margin: 0 auto;
  background-color: black;
}

.button-icon{
  display: flex;
  left: 3rem;
}
.line{
  color: #e2eeff;
  font-family: 'Special Elite', cursive;
  position: relative;
  top: 50%;
  width: 40em;
  margin: 0 auto;
  margin-top: 6%;
  margin-bottom: 2%;
  border-right: 2px solid rgba(255, 255, 255, 0.75);
  font-size: 3em;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}
/*Animation*/
.function{
  animation: typewriter 4s steps(40) 1s 1 normal both,
  blinkTextCursor 500ms steps(40) infinite normal;
}
@keyframes typewriter {
  from{
    width: 0;
  }
  to {
    width: 23em;
  }
}
@keyframes blinkTextCursor{
  from{
    border-right-color: rgba(255, 255, 255, 0.75);
  }
  to{
    border-right-color: transparent;
  }
}

.img-project{
  width: 30%;
}
.demo-projects{
  display: flex;
  justify-content: space-between;
}

.title-project{
  display: inline-block;
  height: 60%;
  width: 30%;
  text-align: center;
  font-size: larger;
  font-family: 'Special Elite', cursive;
  color: #e2eeff;
  background-image: url(./images/ticket.png);
  background-repeat: no-repeat;
}
.demo-title{
  justify-content: space-between;
}