body {
  text-align: center;
  /*background-color: #f6e9e1;*/
  background-image: url(https://i.ibb.co/GCyRrfq/flower-color.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
}
.App{
  background-color:#1a0c1b;
  padding-top: 0.5rem;
}
.App-header {
  text-decoration: none;
}
.navRouter{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  text-decoration: none;
  font-family: 'Special Elite', cursive;
  font-size: calc(1.5rem + 2vmin);
  color: white;
  opacity: 0.7;
}
.navRouter :hover{
  color:white;
}
.title-home{
  background-image: url(https://wallpaperstock.net/wallpapers/thumbs1/34751wide.jpg);
  color: #d18c03;
  padding: .5rem;
  font-weight: lighter;
  font-size: calc(1rem + 1vmin);
  text-emphasis-color: white;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  position: relative;
  top: 7rem;
}
.title-skills{
  background-image: url(https://wallpaperstock.net/wallpapers/thumbs1/34751wide.jpg);
  font-family: 'Special Elite', cursive;
  color: #d18c03;
  padding: .5rem;
}
.title-name{
  font-family: 'Special Elite', cursive;
  color: #d18c03;
}
.title-ocupation{
  font-family: 'Roboto', sans-serif;
  color:#213b3b;
}
.title-home >h1,h3{
  position: relative;
  left: 15rem;
}
.meImage{
  display: flex;
  flex-direction: row-reverse;
}
.meImage > img{
  width: 15rem;
  position: relative;
  top: -8rem;
  right: 5rem;
}
.media{
  display: flex;
  justify-content: space-around;
  margin-top: -5rem;
}
.icon{
  width: 5rem;
}
.skills-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.text {
  text-align: center;
  background-color: #1a0c1b;
  width: calc((70rem)/ 10);
  height: 3rem;
  color: white;
  border-style: solid;
  border-width: 1px;
  border-color: #f3f0ed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -1rem;
  margin-bottom: 1rem;
  font-family: 'Roboto', sans-serif;
}
.text-none {
  display: none;
}
.skills-list {
  width: 30rem;
  margin-top: 2rem;
}
.title-about{
  background-image: url(https://wallpaperstock.net/wallpapers/thumbs1/34751wide.jpg);
  font-family: 'Special Elite', cursive;
  color: #d18c03;
  padding: .5rem;
}
.about-title{
  font-family: 'Special Elite', cursive;
  color: #d18c03;
  font-size: calc(3rem + 1vmin);
}
.about-description{
  font-family: 'Roboto', sans-serif;
  color:#213b3b;
  font-size: calc(2rem + 1vmin);

}
.title-projects{
  background-image: url(https://wallpaperstock.net/wallpapers/thumbs1/34751wide.jpg);
  font-family: 'Special Elite', cursive;
  color: #d18c03;
  padding: .5rem;
}
.projects-title{
  font-family: 'Special Elite', cursive;
  color: #d18c03;
  font-size: calc(3rem + 1vmin);
}